[submodule "helper-scripts"]
	path = helper-scripts
	url = https://github.com/skalenetwork/helper-scripts.git
    branch = develop

[submodule "lvmpy"]
	path = lvmpy
	url = https://github.com/skalenetwork/docker-lvmpy
	branch = move-install-scripts-to-python
