[submodule "helper-scripts"]
	path = helper-scripts
	url = https://github.com/skalenetwork/helper-scripts.git
    branch = develop

[submodule "docker-lvmpy"]
	path = node_cli/docker-lvmpy
	url = https://github.com/skalenetwork/docker-lvmpy.git
	branch = develop
[submodule "node_cli/lvmpy"]
	path = node_cli/lvmpy
	url = https://github.com/skalenetwork/docker-lvmpy
