language: python
os: linux
dist: bionic
python: '3.6'
cache: pip
install:
  - pip install -e .
  - pip install -e .[dev]
  - export ENV=dev
  - bash scripts/build.sh 1.0.0 test-branch
jobs:
  include:
    - stage: test
      before_script:
        - flake8 .
      script:
        - bash scripts/run-tests.sh
    - stage: deploy
      if: branch IN (develop, beta, stable, master)
      script:
        - VERSION=$(BRANCH=$TRAVIS_BRANCH bash ./scripts/calculate_version.sh)
        - echo "Version $VERSION"
        - bash ./scripts/build.sh $VERSION $TRAVIS_BRANCH
        - export OS=`uname -s`-`uname -m`
        - export EXECUTABLE_NAME=skale-$VERSION-$OS
        - pip install setuptools==39.0.1
      before_deploy:
        # Set up git user name and tag this commit
        - (
          test ! $TRAVIS_TAG &&
          git config --local user.name "skale-travis" &&
          git config --local user.email "$GITHUB_EMAIL" &&
          export TRAVIS_TAG=$VERSION &&
          git tag "$TRAVIS_TAG" &&
          git push https://$GITHUB_OAUTH_TOKEN@github.com/$TRAVIS_REPO_SLUG.git $TRAVIS_TAG
          ) || true
      deploy:
        - provider: releases
          api_key: "$GITHUB_OAUTH_TOKEN"
          skip_cleanup: true
          name: $VERSION @ $(date +'%d.%m.%Y %R')
          file:
            - dist/$EXECUTABLE_NAME
          on:
            repo: $TRAVIS_REPO_SLUG
            branch: stable
        - provider: releases
          api_key: "$GITHUB_OAUTH_TOKEN"
          skip_cleanup: true
          prerelease: true
          name: $VERSION @ $(date +'%d.%m.%Y %R')
          file:
            - dist/$EXECUTABLE_NAME
          on:
            repo: $TRAVIS_REPO_SLUG
            branch:
              - master
              - develop
              - beta
        - provider: script
          skip_cleanup: true
          script: bash $TRAVIS_BUILD_DIR/scripts/upload_to_do.sh
          on:
            repo: $TRAVIS_REPO_SLUG
            branch:
              - master
              - stable
              - develop
              - beta
